{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
  {% if result %}
    <p>{{ result }}</p>
  {% endif %}
  <h1>{{title}}</h1>
  <form action="{{ url_for('save') }}" method="POST">
    <p><label>問題：<input type="text" name="question" value="{{ values.question }}" required></label></p>
    <p><label>答え：<input type="text" name="answer" value="{{ values.answer }}" required></label></p>
    <button type="submit">保存</button>
  </form>
  <p><span style="margin-right: 30px"><a href="/">トップ</a></span><span style="margin-right: 30px"><a href="{{ url_for('edit') }}">編集</a></span><a href="{{ url_for('quiz') }}">出題</a></p>
{% endblock %}