{% extends "base.html" %}
{% block title %}
アンケート
{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<h1>アンケート</h1>
{% if result %}
  <h2>{{ result }}</h2>
  <p><a href="{{ url_for('index') }}">戻る</a></p>
{% else %}
  {% if errors %}
    <table>
      <tr>
        <td>以下のエラーを修正してください：</td>
      </tr><tr>
        <td class="errlist"><ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul></td>
      </tr>
    </table>
  {% endif %}
  <form action="{{ url_for('index') }}" method="POST">
    <table>
      <tr>
      <td><label>名前：</td><td><input type="text" name="name" value="{{ postdata['name'] }}" required></label></td>
      </tr><tr>
      <td><label>メールアドレス：</td><td><input type="email" name="email" value="{{ postdata['email'] }}" required></label></td>
      </tr><tr>
      <td><label>年齢：</td><td><input type="number" name="age" min="18" max="110" value="{{ postdata['age'] }}" required></label></td>
      </tr>
    </table>
    <p>
    <fieldset style="width:500px;">
      <legend>興味のあるプログラム言語：</legend>
      <label><input type="checkbox" name="program" value="PHP" {{postdata['program']['PHP']}}>PHP</label>
      <label><input type="checkbox" name="program" value="JavaScript" {{postdata['program']['JavaScript']}}>JavaScript</label>
      <label><input type="checkbox" name="program" value="Python" {{postdata['program']['Python']}}>Python</label>
      <label><input type="checkbox" name="program" value="Java" {{postdata['program']['Java']}}>Java</label>
      <label><input type="checkbox" name="program" value="C/C++" {{postdata['program']['C/C++']}}>C/C++</label>
      <label><input type="checkbox" name="program" value="C#" {{postdata['program']['C#']}}>C#</label>
      <label><input type="checkbox" name="program" value="Ruby" {{postdata['program']['Ruby']}}>Ruby</label>
    </fieldset>
    </p><p>
    <fieldset style="width:500px;">
      <legend>学習に使っているパソコン：</legend>
      {% if postdata['pc']=="ノートPC" %}
        <label><input type="radio" name="pc" value="デスクトップPC">デスクトップPC</label>
        <label><input type="radio" name="pc" value="ノートPC" checked>ノートPC</label>
      {% else %}
        <label><input type="radio" name="pc" value="デスクトップPC" checked>デスクトップPC</label>
        <label><input type="radio" name="pc" value="ノートPC">ノートPC</label>
      {% endif %}
    </fieldset>
    </p><p>
    <label for="maker">パソコンメーカー：</label>
    <select name="maker" id="maker">
      <option value="other">選択してください。</option>
      <option value="lenovo" {{postdata['maker'][0]}}>Lenovo</option>
      <option value="dell" {{postdata['maker'][1]}}>DELL</option>
      <option value="hp" {{postdata['maker'][2]}}>HP</option>
      <option value="apple" {{postdata['maker'][3]}}>Apple</option>
      <option value="dynabook" {{postdata['maker'][4]}}>Dynabook</option>
      <option value="nec" {{postdata['maker'][5]}}>NEC</option>
      <option value="vaio" {{postdata['maker'][6]}}>VAIO</option>
      <option value="asus" {{postdata['maker'][7]}}>ASUS</option>
      <option value="self" {{postdata['maker'][8]}}>自作</option>
      <option value="other" {{postdata['maker'][9]}}>その他</option>
    </select>
    </p><p>
      <label for="comments">コメント：</label><br>
      <textarea name="comments" id="comments" rows="5" cols="40">{{postdata['comments']}}</textarea>
    </p>
    <p><button type="submit">送信</button></p>
  </form>
{% endif %}
{% endblock %}